*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Kanit', sans-serif;
}
nav{
    position: sticky;
    top: 0;
    z-index: 3;
    .nav-box{
        position: relative;
        width: 100vw;
        height: 80px;
        background-color: rgb(33 32 51);
        display: flex;
        z-index: 3;
        .fa-bars{
            scale: 2;
            color:white;
            position: absolute;
            top: 50%;
            transform:translateY(-25%);
            left:6%;
            padding: 1.5%;
            cursor: pointer;
            z-index: 2;
        }
        .hamburger-menu-box{
            position: absolute;
            top: -181px;
            width: 100%;
            height: 260px;
            z-index: 1;
            background-color:  rgba(33, 32, 51, 0.9);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            a{
                margin-left: 6%;
                text-decoration: none;
                color:rgba(33, 32, 51);;
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                transition: color 0.5s;
            }
            a:hover{
                color:#2faefe;
            }
        }
        .active{
            transform: translateY(260px);
            transition: color 0.5s 0.5s;
            a{
                color:white
            }
        }
        .hide{
            transform: translateY(-260px);
            visibility: hidden;
        }
        .logo-nav{
            position: absolute;
            left:50%;
            top: 50%;
            transform:translate(-50%,-50%);
            z-index: 2;
            img{
                height: 50px;
            }
        }
        .nav-items{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            margin: 0 auto;
            z-index: 2;
            a{
                width: 20%;
                text-decoration: none;
                color:white;
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                transition: color 0.5s;
            }
            a:hover{
                color:#2faefe;
            }
        }
        .social-icons{
            height: 30px;
            width: 100px;
            position: absolute;
            right: 2%;
            top:15%;
            color: white;
            z-index: 2;
            a{
                padding: 5px;
                cursor: pointer;
                color: white;
                text-decoration: none;
                i{
                    font-size: 16px;
                }
            }
            
        }
    }
}
.header{
    position: relative;
    background-image: url('../images/321438213_914239173318214_6434584517751397983_n.jpg');
    height: 300px;
    width: 100vw;
    background-size: cover;
    background-position: center;
    z-index: 0;
    .hero-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0,0.4);
    }
    .hero-text{
        position: absolute;
        top:20%;
        left:20%;
        transform: translate(-50%,-50%);
        color: white;
        p{
            text-align: center;
        }
    }
}
.partners-header-image{
    position: relative;
    background-image: url('../images/310835563_771577203873284_503234636870652765_n.jpg');
    height: 300px;
    width: 100vw;
    background-size: cover;
    background-position: 30% 50%;
    background-attachment: fixed;
    .hero-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0,0.4);
    }
}
.transmision-header-image{
    position: relative;
    background-image: url('../images/346078213_619744426705413_3516098859282735830_n.jpg');
    height: 500px;
    width: 100vw;
    background-size: cover;
    background-position: 30% 20%;
    background-attachment: fixed;
    .hero-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0,0.4);
    }
}

main{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .headline{
        width: 100vw;
        height: 80px;
        background-color: rgb(33 32 51);
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            color: white;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 20px;
            margin: 0;
            letter-spacing: 1px;
        }
    }
    .transmision-box{
        width: 100%;
        height: 100%;
        margin-top: 40px;
        margin: 40px;
        iframe{
            width: 70%;
            height: 40vh;
        }
    }
    .middle-section-image{
        position: relative;
        background-image: url('../images/346063107_1220267128634678_6897533042643177482_n.jpg');
        height: 350px;
        width: 100vw;
        background-size: cover;
        background-position: 60% 30%;
        background-attachment: fixed;
        .hero-bg{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgb(0, 0, 0,0.4);
        }
    }
    .fb-page{
        padding:60px 30px;
    }
    .schedule{
        
        img{
            width: 340px;
            padding:60px 30px;
            border-radius: 100px;
        }
    }
    .card{
        width: 400px;
        margin:60px 30px 20px 30px;
        .btn-primary{
           background-color: #21b4f9;
           border: #21b4f9;
        }
        h5{
            text-transform: uppercase;
        }
    }
    .wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .main-partner-box{
            margin: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align:justify;
            .main-partner-1-logo{
                img{
                    height: 120px;
                    margin-bottom: 30px;
                }
            }
            .main-partner-2-logo{
                img{
                    height: 80px;
                    margin-bottom: 30px;
                }
            }
            .main-partner-3-logo{
                img{
                    height: 100px;

                }
            }
            a{
                background-color: #21b4f9;
                border: #21b4f9;
            }
        }
        .partners-box{
            display: flex;
            .partner-1-box{
                display: flex;
                flex-direction: column;
                margin: 20px;
                align-items: center;
                text-align:justify;
                width: 50%;
                .partner-1-logo{
                    img{
                        max-height: 80px;
                        margin-bottom: 15px;
                        width: 100%;
                    }
                }
            }
            .partner-2-box{
                display: flex;
                flex-direction: column;
                margin: 20px;
                align-items: center;
                text-align:justify;
                width: 50%;
                .partner-2-logo{
                    img{
                        max-height: 80px;
                        margin-bottom: 15px;
                        width: 100%;
                    }
                }
            }
            a{
                background-color: #21b4f9;
                border: #21b4f9;
                font-size: 12px;
            }
        }
    }
    .gallery-box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        img{
            max-width: 40%;
            max-height: 500px;
            margin: 5%;
        }
    }
}
.footer{
    position: relative;
    width: 100vw;
    height: 150px;
    margin-top: 30px;
    background-color: #212033;
    display: flex;

    .partners{
        height: 100%;
        width: 50%;
        padding: 5px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        
        .logo-gmina{
            cursor: pointer;
            img{
                height: 35px;
            }
        }
        .logo-zielove{
            cursor: pointer;
            img{
                height: 25px;
            }
        }
        .logo-zfap{
            cursor: pointer;
            img{
                height: 70px;
            }
        }
        .logo-pfl{
            cursor: pointer;
            img{
                height: 40px;
            }
        }
        .logo-home-developer{
            cursor: pointer;
            img{
            height: 28px;
            }
        }
    }
    .rhinos-logo-footer{
        display: flex;
        height: 100%;
        width: 23%;
        justify-content: center;
        align-items: center;
        img{
            height: 85px;
        }
    }
    .contact{
        display: flex;
        height: 100%;
        width: 27%;
        position: absolute;
        right: 0px;
        flex-direction: column;
        justify-content: center;
        color: white;
       
        p{
            font-size: 7px;
            margin:0px;
        }
        h6{
            margin: 0px;
            font-size: 11px;
        }
        h7{
            margin: 0px;
            font-size: 10px;
        }
    }
}

@media (min-width:0px){
    nav{
        .nav-box{
            .nav-items{
                display: none;
            }
        }
    }
}
@media (min-width:576px){
    .footer{
        .rhinos-logo-footer{
            width:16%;
        }
        .contact{
            width: 34%;
            p{
                font-size: 10px;
            }
            h6{
                font-size: 15px;
            }
            h7{
                font-size: 14px;
            }
        }
    }
}
@media (min-width:768px){
    nav{
        .nav-box{
            .nav-items{
                display: flex;
            }
            .fa-bars{
                display: none;
            }
            .logo-nav{
            position: absolute;
            left:7.5%;
            top: 50%;
            transform:translate(-50%,-50%);
            }
        }
        .hamburger-menu-box{
            visibility: hidden;
        }
    }
    .header{
        height: 500px;
    }
    main{
        .schedule{
        
            img{
                width: 700px;
            }
        }
        .middle-section-image{
            height: 600px;
            background-position: center;
        }
        .news-headline{
            p{
                font-size: 30px;
            }
        }
    }
    .footer{
        height: 180px;
        .partners{
            width: 55%;
            .logo-gmina{
                img{
                    height: 60px;
                }
            }
            .logo-zielove{
                img{
                    height: 40px;
                }
            }
            .logo-zfap{
                img{
                    height: 80px;
                }
            }
            .logo-pfl{
                img{
                    height: 70px;
                }
            }
            .logo-home-developer{
                img{
                    height: 42px;
                }
            }
        }
        .rhinos-logo-footer{
            width: 15%;
            img{
                height: 160px;
            }
        }
        .contact{
            width: 30%;
            padding-left: 10px;
            p{
                font-size: 14px;
            }
            h6{
                font-size: 21px;
            }
            h7{
                font-size: 19px;
            }
        }
    }
}
@media (min-width:1200px){
   nav{
    .nav-box{
        .nav-items{
            a{
                font-size: 20px;
            }
        }
        .social-icons{
            right: 4%;
            width: 150px;
            a{
                padding: 11px;
                i{
                    font-size: 21px;
                }
            }
        }
    }
   }
   main{
    .wrapper{
        width: 1200px;
        .partners-box{
            .partner-1-box{
                p{
                    font-size: 20px;
                }
            }
            .partner-2-box{
                p{
                    font-size: 20px;
                }
            }
            a{
                font-size: 16px;
            }
        }
        .main-partner-box{
            .main-partner-1-logo{
                img{
                    height: 168px;
                }
            }
            .main-partner-2-logo{
                img{
                    height: 112px;
                }
            }
            .main-partner-3-logo{
                img{
                    height: 140px;
                }
            }
            p{
                font-size: 20px;
            }
        }
    }
    }
   .header{
    height: 700px;
   }
}


